body {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 300;
width:750px;
margin:0 auto;
margin-top:30px;
}


#header {
width:750px;
height:150px;
background-color:#333333;
border-radius: 30px 30px 30px 30px;
}



/* ----- NAVIGATION ----- */



#navigation {
width:750px;
height:40px;
background-color:#333333;
margin-top:10px;
border-radius: 30px 30px 30px 30px;

}


/* ----- MAIN CONTENT ----- */



#content { 
width:750px;
min-height:450px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:450px; /* for IE5.x and IE6 */
background-color:#333333;
margin-top:10px;
border-radius: 30px 30px 30px 30px;
}



/* ----- FOOTER ----- */



#footer { 
width:750px;
height:100px;
background-color:#333333;
margin-top:10px;
border-radius: 30px 30px 30px 30px;
}

* { border: 0; margin: 0; padding: 0; outline: 0; }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
    -webkit-text-size-adjust: none;
    background: -webkit-gradient(
      radial, 0 10%, 20, 0 10%, 400, from(#f1f1f1), to(#eee)
    );
}


.rule { display: block; margin: 10px 0; width: 100%; height: 2px; background: #ddd; -webkit-box-shadow: rgba(255, 255, 255, .4) 0 2px 0; }
.clear { clear: both; }
a { color: #555; text-decoration: none; }
a:hover { text-decoration: underline; }

#wrapper {
    margin: 30px;
    min-width: 260px;
}


h1 {
    letter-spacing: -1px;
    line-height: 60px;
	font-size: 70px; color: white;
	text-shadow: 1px 0px 0px #eee, 2px 1px 0px #eee, 3px 2px 0px #eee, 4px 3px 0px #eee, 6px 5px 2px #ddd;
	display: inline;
	z-index: 999; position: relative;
} 

h1 a { color: white; text-decoration: none; }
h1 a:hover { color: white; text-decoration: none; text-shadow: 1px 0px 0px #eee, 2px 1px 0px #eee, 3px 2px 0px #eee, 4px 3px 0px #eee, 6px 5px 3px #d5d5d5; }

.amp { font-family: Baskerville, serif; font-style: italic; }

#header h2 {
    display: none;
    letter-spacing: -1px; font-size: 36px; color: #ccc; text-shadow: 1px 1px 1px #fff; margin-top: 18px; top: 3px; position: relative;
    font-family: Georgia; font-weight: normal;
}

#header { padding-bottom: 14px; padding-right: 124px; }

#social { color: #ccc; margin-top: 0; font-weight: normal; font-size: 18px; overflow: hidden; max-width: 660px; }
 
    #social a {
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        padding: 6px 14px; border-radius: 99px; margin: 8px; float: left;
        color: rgba(0, 0, 0, .5);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
        border: rgba(0, 0, 0, .05) solid 2px;
                
        -webkit-transition-property: background, border;
        -webkit-transition-duration: .2s;
        -webkit-transition-timing-function: ease-in-out; 

        -moz-transition-property: background, border;
        -moz-transition-duration: .2s;
        -moz-transition-timing-function: ease-in-out; 

        -o-transition-property: background, border;
        -o-transition-duration: .2s;
        -o-transition-timing-function: ease-in-out;         
    }
    
    #social a:first-child { margin-left: 0; }
    #social a:first-child:hover { margin-left: 0; }
    #social a:hover { color: rgba(0, 0, 0, .7); border: rgba(0, 0, 0, .2) solid 2px; margin: 8px; -webkit-box-shadow: rgba(255, 255, 255, .2) 0 0 10px; }
    #social a:active { border: rgba(0, 0, 0, .15) solid 2px; -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1); padding-top: 7px; padding-bottom: 5px; }

.twitter, .facebook, .flickr, .linkedin, .hackernews { background: rgba(140, 140, 140, .1); }

#social:hover .twitter { background: rgba(108, 210, 252, .15); }
#social:hover .facebook { background: rgba(59, 89, 152, .15); }
#social:hover .flickr { background: rgba(234, 76, 136, .15); }
#social:hover .linkedin { background: rgba(76, 164, 199, .15); }
#social:hover .hackernews { background: rgba(255, 102, 0, .15); }

.twitter:hover { background: rgba(108, 210, 252, .3) !important; }
.facebook:hover { background: rgba(59, 89, 152, .3) !important; }
.flickr:hover { background: rgba(234, 76, 136, .3) !important; }
.linkedin:hover { background: rgba(76, 164, 199, .3) !important; }
.hackernews:hover { background: rgba(255, 102, 0, .3) !important; }

#blog-link, #email a { text-decoration: none; color: #bbb; font-size: 26px; margin-top: 0px; text-shadow: 0 2px 0 white; text-transform: lowercase; display: inline-block; }
#blog-link:hover, #email a:hover { color: #aaa; text-decoration: underline; text-shadow: none; }
#blog-link:active, #email a:active { color: #888; text-decoration: underline; text-shadow: none; }
