@import url('http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb');
.container_12 {
	font-family:'Helvetica Neue',Helvetica,Arial,NanumGothicWeb,"돋움",sans-serif;
}
.grid_12 {
	margin-bottom:20px;
}
.grid_4 {
	margin-top:10px;
}
h1 small {
	margin:0; padding:0; font-size:50%; line-height:1.5;
}
h4 {
	margin:0; padding:0; font-size:100%; line-height:1;
}
td {
	margin:0; padding:4px; font-size:100%; line-height:1.5;
	vertical-align:middle;
}
form {
	margin:0; padding:0; font-size:100%; line-height:1;
}
#sidebar {
	margin:0; padding:20px; font-size:100%; line-height:1;
	border:1px solid #5A4;
	border-radius:5px;
	background:#CEC;
}
#radios {
	margin:0; padding:0; font-size:100%; line-height:1;
}
#donate_btn {
	margin:10px 0; padding:0; font-size:100%; line-height:1;
}
#btns {
	margin:0; padding:0; font-size:100%; line-height:1;
	text-align:center
}
