#wrapper {
	width:320px;
	margin: 0 auto;
}
#header {
	margin-top: 3em;
	text-align: center;
}
form {
	text-align: center;
}
#main {
	text-align: center;
}

.addr {
	text-align: right;
	font-size: 2em;
}
input {
	font-size: 200%;
}
.numpad {
	width: 75px;
}