html, body {
	background-color: #011E57 !important;
}
#wrapper {
	width:320px;
	margin: 0 auto;
	padding-bottom: 2em;
}
#header {
	margin-top: 2em;
	text-align: center;
}
h1 {
	color: #fff !important;
	font-size: 50px !important;
	line-height: 1.1em !important;
	font-weight:300 !important;
}
h2 {
	line-height: 1em !important;
}
form {
	text-align: center;
}
#main {
	text-align: center;
}
input, span {
	text-align: center;
	font-size: 60px !important;
	line-height: 70px !important;
	height: 70px !important;
}
input {
	width: 180px !important;
}
button {
	float: none !important;
	margin: 0 auto !important;
}
