#wrapper {
	width:320px;
	margin: 0 auto;
	padding-bottom: 2em;
}
#header {
	margin-top: 2em;
	text-align: center;
}
h1 {
	font-size: 50px !important;
	line-height: 1.1em !important;
}
h2 {
	line-height: 1em !important;
}
form {
	text-align: center;
}
#main {
	text-align: center;
}
input {
	text-align: center;
	font-size: 50px !important;
	line-height: 55px !important;
	height: 50px !important;
}
button {
	float: none !important;
	margin: 0 auto !important;
}
